.table-btn-red {
    background: #ab122b;
    color: white;
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 15px;
    float: right;
}

.table-btn-red:hover,
.table-btn-red:active,
.table-btn-red:focus {
    background: white!important;
    color: #ab122b!important;
    font-weight: bolder;
}

td{
    padding: 1.2em 1.2em!important;
}

.table-responsive{
    border: 3px solid rgb(0, 0, 0, 0.4);
    margin: 30px 0px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.19);
}

.no-services {
    border: 3px solid rgb(0, 0, 0, 0.4);
    margin: 30px 50px;
    padding: 30px 50px;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.29);
}

.table-heading{
    color: #ab122b;
    font-weight: bolder;
}

@media only screen and (max-width: 991px) {
    .table-btn-red{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 10px;
    }

    .service-table-cell{
        text-align: center;
    }
}