html {
  height: 100%;
}

body {
    font-family: 'Montserrat';
    height: calc(100vh - 83px);
    margin: 0;
}

.logo-image{
    max-width: 50%;
    height: auto;
}

/* -----Backgrounds----- */

.hero {
    background: url('/media/Hero-1536x1024.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.hero:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 88px; bottom: 0;
  background: rgba(0,0,0,.5);
  height: 100%;
}

.brick-wall-bg{
    background: url('/media/wall-brick-white-cracked-paint-texture-background-1536x1025.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
}


/* -----Fonts----- */

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

/* -----Colours----- */

.icon-red {
    color: #ab122b;
}

.transparent-bg{
    background-color: rgba(0, 0, 0, 0.6);
}

.red-bg{
    background-color: #ab122b;
}

/* -----Buttons----- */

.btn-red {
    background: #ab122b;
    color: white;
    padding: 8px 20px;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: white!important;
    color: #ab122b!important;
}

.btn-white {
    background: white;
    color: #ab122b;
    padding: 8px 20px;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: #ab122b!important;
    color: white!important;
    padding: 8px 20px;
}

.btn-white-grey {
    background: white;
    color: #ab122b;
    padding: 8px 20px;
}

.btn-white-grey:hover,
.btn-white-grey:active,
.btn-white-grey:focus {
    background: #454145;
    color: white;
}
/* -----Borders----- */

.border-black {
    border: 1px solid black !important;
}

/* -----Spacing----- */
.py-1px{
    padding: 1px 0px
}

.line-height{
    line-height: 3rem;
}

/* -----Top Navbar----- */
#topnav{
    border-bottom: 2px solid #ab122b;
}


/* -----Dashboard----- */
.wrapper {
    display: flex;
    width: 100%;
}

#dashboard-content {
    width: calc(100% - 250px);
    padding: 40px;
    position: absolute;
    top: 81.5px;
    right: 0;
}

.no-purchase {
    border: 3px solid rgb(0, 0, 0, 0.4);
    margin: 30px 50px;
    padding: 30px 50px;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.29);
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 81.5px;
    left: 0;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.6);
    color: #fff;
}

#sidebar:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
}

#sidebar .sidebar-header {
    padding: 40px 0 20px 10px;
    border-bottom: 1px solid #999;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #ab122b;
    text-decoration: none;
}

#sidebar ul li.active>a {
    color: #ab122b;
    background: #fff;
    font-weight: bold;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -----Misc----- */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/* -----Allauth----- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-radius: 0px;
    background-color: white;
    font-family: "Montserrat',Helvetica,Arial,Lucida,sans-serif";
    font-size: 16px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    background: #ab122b;
    color: white;
    padding: 8px 20px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ab122b;
    border: 1px solid #ab122b;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    border-color: #ab122b;
    background: white;
    color: #ab122b;
}

.allauth-form-inner-content a {
	color: #000; /* text-info */
    
}

/* -----Media Queries----- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
    /* Fixed top navbar only on medium and up */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 83px;
    }
} 

/* Adjust overlay on mobile */
@media (max-width: 992px) {
    .hero:before {
        content: "";
        background: rgba(0,0,0,.5);
    }

    h1.display-4 {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-white.rounded-0,
    .btn.btn-red.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-white.rounded-0.btn-lg,
    .btn.btn-red.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        max-width: 100%;
    }
    #dashboard-content{
        width: 100%;
    }

    #sidebar {
        display: none;
        margin-left: -250px;
    }

    .dropdown-menu{
        left: -51px;
    }
}