body {
    font-family: 'Montserrat';
    margin-top: 88px;
}

.logo-image{
    max-width: 50%;
    height: auto;
}

/* -----Backgrounds----- */

.hero {
    background: url('/media/Hero-1536x1024.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.hero:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 88px; bottom: 0;
  background: rgba(0,0,0,.5);
}

.brick-wall-bg{
    background: url('/media/wall-brick-white-cracked-paint-texture-background-1536x1025.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}


/* -----Fonts----- */

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

/* -----Colours----- */

.icon-red {
    color: #ab122b;
}

.transparent-bg{
    background-color: rgba(0, 0, 0, 0.6);
}

.red-bg{
    background-color: #ab122b;
}

/* -----Buttons----- */

.btn-red {
    background: #ab122b;
    color: white;
    padding: 8px 20px;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: white!important;
    color: #ab122b!important;
}

.btn-white {
    background: white;
    color: #ab122b;
    padding: 8px 20px;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: #ab122b!important;
    color: white!important;
    padding: 8px 20px;
}
/* -----Borders----- */

.border-black {
    border: 1px solid black !important;
}

/* -----Spacing----- */
.py-1px{
    padding: 1px 0px
}

.line-height{
    line-height: 3rem;
}

/* -----Misc----- */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/* -----Allauth----- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-radius: 0px;
    background-color: white;
    font-family: "Montserrat',Helvetica,Arial,Lucida,sans-serif";
    font-size: 16px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    background: #ab122b;
    color: white;
    padding: 8px 20px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ab122b;
    border: 1px solid #ab122b;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    border-color: #ab122b;
    background: white;
    color: #ab122b;
}

.allauth-form-inner-content a {
	color: #000; /* text-info */
    
}

/* -----Media Queries----- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
} 

/* Adjust overlay on mobile */
@media (max-width: 992px) {
    .hero:before {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 64px; bottom: 0;
        background: rgba(0,0,0,.5);
    }
}