<div class="row bg-white d-block d-lg-none" id="topnav">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
        <!-- Toggle Dropdown Menu Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- User Account Dropdown Menu -->
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg icon-red"></i></div>
                    <p class="my-0">{% if request.user.is_authenticated %} {{ request.user }}{% else %}My Account{% endif %}</p>
                </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_package' %}" class="dropdown-item">Add Package</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'website_details' %}" class="dropdown-item">Website Details</a>
                    <a href="{% url 'services' %}" class="dropdown-item">Services</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        {% include 'includes/main-nav.html' %}
    </nav>
</div>
