<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Apex Digital</h3>
    </div>

    <!-- Menu Items  -->
    <ul class="list-unstyled components">
        <li class="{% if request.resolver_match.view_name == 'profile' %}active{% endif %}">
            <a href="{% url 'profiles:profile' %}">Profile</a>
        </li>
        <li class="{% if request.resolver_match.view_name == 'package' %}active{% endif %}">
            <a href="{% url 'services' %}">Services</a>
        </li>
        <li class="{% if request.resolver_match.view_name == 'request-sevice' %}active{% endif %}">
            <a href="{% url 'request-service' %}">Request Service</a>
        </li>
        <li class="{% if request.resolver_match.view_name == 'testimonial' %}active{% endif %}">
            <a href="">Testimonial</a>
        </li>
    </ul>
</nav>