{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block dashboard_heading %}Services{% endblock %}

{% block dashboard_content %}
    {% for service in remaining_services %}
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">
                        Plan: {{ service.package.name }}
                    </th>
                </tr>
                <tr>
                    <th>
                        Remaining Single Use Services
                    </th>
                    <th>
                        Remaining Monthly Services                   
                    </th>
                </tr>
            </thead>
            <tbody class="file-item">
                    <tr class="item-list">
                        <td class="service-table-cell">
                            Pages: {{ service.remaining_pages }}
                            <a type="button" href="{% url 'request-service' service.id service_name.0 %}" class="btn table-btn-red float-right">Request Service</a>
                        </td>
                        <td>
                            Website Updates: {{ service.remaining_website_updates }}
                            <a type="button" href="{% url 'request-service' service.id service_name.1 %}" class="btn table-btn-red float-right">Request Service</a>       
                        </td>
                    </tr>
                    <tr class="item-list">
                        <td>
                            Email Addresses: {{ service.remaining_email_addresses }}
                            <a type="button" href="{% url 'request-service' service.id service_name.2 %}" class="btn table-btn-red float-right">Request Service</a>
                        </td>
                        <td>
                            SEO Updates: {{ service.remaining_seo_updates }}
                            <a type="button" href="{% url 'request-service' service.id service_name.3 %}" class="btn table-btn-red float-right">Request Service</a>
                        </td>
                    </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
