{% extends "base.html" %}
{% load static %}

{% block dashboard_heading %}Services{% endblock %}

{% block dashboard_content %}
    <table class="table mb0 table-files noselect">
        <thead>
            <tr>
                <th colspan="2" class="text-center">
                    Plan: {{ order.package }}
                </th>
            </tr>
            <tr>
                <th>
                    Remaining Single Use Services
                </th>
                <th>
                    Remaining Monthly Services                   
                </th>
            </tr>
        </thead>
        <tbody class="file-item">
            <tr class="item-list">
                <td>
                    Pages: {{ remaining_services.remaining_pages }}
                </td>
                <td>
                    Website Updates: {{ remaining_services.remaining_website_updates }}                   
                </td>
            </tr>
            <tr class="item-list">
                <td>
                    Email Addresses: {{ remaining_services.remaining_email_addresses }}
                </td>
                <td>
                    SEO Updates: {{ remaining_services.remaining_seo_updates }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
